<article class="dataset-card">

  <span class="item" [ngStyle]="{'background-color':
    (disaster.incidentType == 'Coastal Storm') ? '#80DEEA':
    (disaster.incidentType == 'Earthquake') ? '#FFFF00':
    (disaster.incidentType == 'Fire') ? '#FF6E40':
    (disaster.incidentType == 'Flood') ? '#8C9EFF':
    (disaster.incidentType == 'Hurricane') ? '#CE93D8':
    (disaster.incidentType == 'Severe Ice Storm') ? '#B2EBF2':
    (disaster.incidentType == 'Severe Storm') ? 'lightblue':
    (disaster.incidentType == 'Snowstorm') ? '#E0E0E0':
    (disaster.incidentType == 'Tornado') ? '#E1BEE7':
    (disaster.incidentType == 'Other') ? '#EEEEEE':
    null}">
    {{index}} - {{disaster.incidentType}}</span>
  <h3 class="dataset-head">{{disaster.femaDeclarationString}}: &nbsp;&nbsp;
    {{disaster.declarationTitle}}</h3>
  <!-- div class="dataset-subhead"></div -->

  <div class="dataset-location">{{disaster.designatedArea}}, {{disaster.state}} {{disaster.placeCode}}</div>
  <span class="dataset-date">{{disaster.incidentBeginDate | date: 'shortDate' }} to
    {{disaster.incidentEndDate | date: 'shortDate'}}; closed {{disaster.disasterCloseoutDate | date:
    'shortDate'}}</span>

  <div class="dataset-description">FIPS: {{disaster.fipsCountyCode}} & {{disaster.fipsStateCode}}; Request
    # {{disaster.declarationRequestNumber}}</div>

  <div class="dataset-details"><a href="/details/{{index}}">See all detail fields</a></div>
  <article>
