.dataset-card {
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  border-radius : 10px;
  box-shadow    : rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width         : 200px;
  height        : 150px;
  margin        : 8px;
  padding       : 10px 0 0px 15px;
}

.item {
  font-weight   : bold;
  font-style    : italic;
  // padding    : 0.3rem 0 0.2rem 0;
}

.dataset-head {
  font-size  : normal;
  font-weight: bold;
  margin     : 2px 0;
  padding    : .6rem 0 0.2rem 0.2rem;
}

.dataset-location {
  font-weight  : bold;
  font-size    : small;
  margin-bottom: 3px;
}

.dataset-date {
  font-size    : small;
  margin-bottom: 3px;
}

.dataset-description {
  font-size    : small;
  font-weight  : normal;
  margin-bottom: 3px;
}

.dataset-details {
  font-size   : small;
  text-align  : right;
  margin-right: 10px;
}
