<!-- https://nikitahl.com/horizontal-rule-css -->

<!-- div class="list">
  <ul>
    <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: page }">{{ item }}</li>
  </ul>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div -->

<footer class="footer">
<hr>
<div>openFemaNgClient ֍ Version {{version}}</div>
<br>
<div>eoc.online™ provides open-source tools for Emergency Operations Centers and local CERT/VOAD/Citizen Corps groups. For more information check out <a href="https://eoc.online" target="_blank">https://eoc.online  - Open Source Tools for EOCs</a>.</div>
<br>
<div>We'd love to get your reports of use and suggestions for enhancement. To report issues please visit <a href="https://github.com/EOCOnline/OpenFemaNgClient/issues/" target="_blank">https://github.com/EOCOnline/OpenFemaNgClient/issues/</a></div>
</footer>
<div class="copyLeft">©2022 eoc.online, under the MIT License</div>
<br>
