// @use "@material/icon-button";
// @use "@material/button";
// @use "@material/top-app-bar/mdc-top-app-bar";

//@include icon-button.core-styles;

.active {
  font-weight        : bold;
  font-style         : italic;
  // background-color: rgb(137, 208, 221);
}

.main-nav {
  display                : flex;
  //height               : 4vh;
  //background         : #FFD54F;
  // https://cssgradient.io/
  background             : rgb(179, 119, 0);
  background             : linear-gradient(54deg, rgba(179, 119, 0, 0.8748543362657564) 0%, rgba(173, 150, 33, 1) 69%, rgba(255, 226, 0, 1) 100%);

  // color         : white;
  //border-radius    : 3px;
  padding-top   : 0.3em;
  padding-bottom: 0.5em;
  font-family   : Sniglet, 'Arima Madurai', sans-serif;
  font-size     : 1.5em;
}

.main-nav>ul {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
  display        : flex;
  flex           : 12;

}

.main-nav li {
  font-style  : un;
  margin-right: 1em;
}

.main-nav>form {
  display        : flex;
  justify-content: flex-end;
  flex           : 1;

}

.title {
  width         : 35vw;
  margin-right  : 2em;
  vertical-align: top;
  font-family   : Sniglet, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size     : 1.3em;
}

.Navbar__progressBar {
  font-weight : bold;
  color       : crimson;
  padding-left: 2vw;
}

.smaller {
  font-size  : smaller;
  font-weight: reset;
}

.rightAlign {
  position: absolute;
  right   : 0px;
}

#gitLogo {
  height      : 1.5em;
  margin-right: 5px;
}

.main-nav input {
  visibility  : hidden;
  height      : 1.8em;
  flex        : 1;
  margin-right: 30px;
}

.main-nav button {
  visibility   : hidden;
  background   : white;
  border       : 0;
  border-radius: .8em;
  color        : orangered;
  height       : 1.8em;
  padding      : 0 1em;
  margin       : 0 1em;

}

.main-nav a {
  margin-left    : 10px;
  margin-right   : 15px;
  text-decoration: none;
  vertical-align : bottom;
}

.main-nav a:hover {
  color             : rgb(172, 80, 248);
  //background-color: yellow;
}

// TODO: Doesn't collapse into a hamburger!!!
@media screen and (max-width: 575px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav ul {
    flex-direction: row;
    /* Change this to 'column' to stack the links */
    margin-bottom : 0.1em;
  }
}
