<h1>Card Viewer -- Disaster Declarations Summary</h1>
<div class="content">
  <!-- LENGTH={{disasterDeclarationsSummaries.length}}<br -->
  <div *ngFor="let disaster of disasterDeclarationsSummaries | paginate: config; index as i">
    <!-- {{i}}) {{disaster.femaDeclarationString}}: &nbsp;&nbsp;&nbsp;&nbsp; #{{disaster.disasterNumber}};
      &nbsp;&nbsp;&nbsp;&nbsp; ST: {{disaster.state}}; &nbsp;&nbsp;&nbsp;&nbsp; Type: {{disaster.declarationType}};
      &nbsp;&nbsp;&nbsp;&nbsp; Date: {{disaster.declarationDate | date:'mediumDate'}};
      -->
    <br>
    <card [disaster]=disaster [index]=i></card>
  </div>
</div>

<br>
<div class="text-center">
  <label>Number/Page: </label><input #NumPerPage id="idNumPerPage" size="30" type="number" [value]="config.itemsPerPage"
    (change)="onNumberPerPage()" (blur)="onNumberPerPage()">
  <pagination-controls (pageChange)="config.currentPage = $event" [maxSize]="10"></pagination-controls>
</div>

<div class="checks">
  <span *ngFor="let type of types">
    <input type="checkbox" class="type" checked="true">
    <label> {{type.type}}</label><br>
  </span>
</div>
