<h1>Detailed View for {{index}}</h1>

<!-- h3 class="dataset-head">{{disaster.femaDeclarationString}}: &nbsp;&nbsp; {{disaster.declarationTitle}}</h3
-->

<!-- article class="details-panel" *ngIf="(summary$ | async) as summary" -->
<!-- article *ngIf="gotData" class="details-panel"-->
<article class="detail-panel">
  <span class="detail-item">{{index}} - disaster.incidentType</span>

  <h3 class="detail-head" [ngStyle]="calcBackgroundColor(disaster.incidentType)">
    {{disaster.femaDeclarationString}}: &nbsp;&nbsp; {{disaster.declarationTitle}}
  </h3>
  222222
  <!-- div class="detail-subhead"></div -->

  <div class="detail-location">{{disaster.designatedArea}}, {{disaster.state}} {{disaster.placeCode}}23232323</div>
  33333
  <span class="detail-date">{{disaster.incidentBeginDate | date: 'shortDate' }} to
    {{disaster.incidentEndDate | date: 'shortDate'}}; closed {{disaster.disasterCloseoutDate | date:
    'shortDate'}}</span>

  <div class="detail-description">FIPS: {{disaster.fipsCountyCode}} & {{disaster.fipsStateCode}}; Request
    # {{disaster.declarationRequestNumber}}</div>

  <article>
