.detail-panel {
  // display: flex;
  padding  : 1rem;
  //gap    : 50px;
}

.detail-item {
  background-color: aliceblue;
}

.detail-head,
.detail-subhead,
.detail-location,
.detail-date,
.detail-description {
  font-size: large;
}
