.logo {
  height: "48px";
  width : "48px";
}

nav {
  display        : flex;
  justify-content: space-between;
  margin         : 20px 10px 10px 10px;
  font-family    : Roboto, 'Alumni Sans Inline One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav div.menu-items {
  display        : flex;
  width          : 10%;
  justify-content: space-between;
}

nav>div {
  display: flex;
}

.title {
  font-size      : 25pt;
  font-style     : italic;
  // font-stretch: ultra-expanded;
}
