// https://www.ag-grid.com/javascript-data-grid/global-style-customisation-sass/#getting-started
// see styles.scss

#reportsgrid {
  margin-left: 2vw;
  font-size  : small;
}

.text-center {
  text-align   : center;
  //margin-left: 2vw;
}


.ag-paging-panel {
  //justify-content : center !important;
  //align-items     : center !important;
  //display         : flex !important;
  background-color: aqua;
}
