<h1>Map View</h1>

<map [disasters]=disasterDeclarationsSummary></map>
<!--map [disasterDeclarationsSummary]=disasters></map-->

<!--article>
  <ng-container *ngIf="disasterDeclarationsSummaries; else ItsNull">
    <span *ngFor="let disaster of disasterDeclarationsSummaries | paginate: config; index as i">
      <br>
      <list-item [disaster]=disaster [index]=absoluteIndex(i)> </list-item>
    </span>
  </ng-container>

  <ng-template #ItsNull>Whoops: disasterDeclarationsSummaries is null!</ng-template>
</article -->
