<article class="list-item">
  <span class="title">{{index}} - {{disaster.incidentType}}</span>

  <h3 class="list-head" [ngStyle]="getDisasterColorStyle(disaster.incidentType)">{{disaster.femaDeclarationString}}:
    &nbsp;&nbsp;
    {{disaster.declarationTitle}}</h3>

  <div class="list-location">{{disaster.designatedArea}}, {{disaster.state}} {{disaster.placeCode}}</div>


  <details>
    <summary>More Details <span class="list-details"><a href="/details/{{index}}">All details</a></span></summary>
    <span class="list-date">{{disaster.incidentBeginDate | date: 'shortDate' }} to
      {{disaster.incidentEndDate | date: 'shortDate'}}; closed {{disaster.disasterCloseoutDate | date:
      'shortDate'}}</span>
    <div class="list-description">FIPS: {{disaster.fipsCountyCode}} & {{disaster.fipsStateCode}}; Request
      # {{disaster.declarationRequestNumber}}</div>
  </details>
  <!-- div class="list-subhead"></div -->

  <article>
