.list-card {
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  border-radius : 10px;
  box-shadow    : rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width         : 350px;
  margin        : 10px;
  padding       : 15px 0 10px 15px;
}

.list-head {
  //  border-radius: 10px 10px 0 0;
  font-size          : large;
  //font-weight: bolder;
  //width        : 400px;
  //padding        : 15px 0 0 15px;
  //padding          : 0;
  margin-bottom      : 5px;
}

.list-subhead {
  font-size: small;
}

.list-location {
  font-weight  : bold;
  margin-bottom: 3px;
}

.list-date {
  //font-weight  : bold;
  margin-bottom: 3px;
}

.list-description {
  font-weight    : normal;
  //margin-bottom: 3px;
}

.list-details {
  text-align  : right;
  margin-right: 10px;
}
