#xxmap {
  //height               : 80vh;
  //width             : 100%;
  //margin          : 10px;
  //background-color: aqua;
  width : 834px;
  height: 621px;
}

div#content {
  width : 100%;
  height: 100%;
}

div#map-container {
  width : 100%;
  height: 100%;
}

.myMap {
  width           : 877px !important;
  height          : 100%;
  background-color: rgb(196, 255, 228);
  position        : relative;
  display         : block;
}

.map-container {
  width           : 888px !important;
  height          : 100%;
  background-color: bisque;
}

#map {
  position: relative;
}

#container,
#map {
  //height: 100%;
  width: 100%;
}

#map {
  width   : 100% !important;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

/** Always set the map height explicitly to define the size of the div
  *  element that contains the map.
  */


/* Make the map fill the page */
html,
body {
  height : 100%;
  margin : 0 1em;
  padding: 0;
}
