<h1>Simple Viewer -- Disaster Declarations Summary</h1>
<div class="content">
  <!-- LENGTH={{disasterDeclarationsSummaries.length}}<br>
  <ul>
    <li -->
  <div *ngFor="let disaster of disasterDeclarationsSummaries | paginate: config; index as i">
    <!-- {{i}}) {{disaster.femaDeclarationString}}: &nbsp;&nbsp;&nbsp;&nbsp; #{{disaster.disasterNumber}};
      &nbsp;&nbsp;&nbsp;&nbsp; ST: {{disaster.state}}; &nbsp;&nbsp;&nbsp;&nbsp; Type: {{disaster.declarationType}};
      &nbsp;&nbsp;&nbsp;&nbsp; Date: {{disaster.declarationDate | date:'mediumDate'}};
      -->
    <br>
    <simple-card [disaster]=disaster [index]=i></simple-card>
  </div>
  <!-- /li>
  </ul -->
</div>

<br>
<div class="text-center">

  <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
</div>
