<h1>Simple Viewer -- Disaster Declarations Summary</h1>
<article>

    <ul>
      <li *ngFor="let disaster of disasterDeclarationsSummaries; index as i">
        {{i}}) {{disaster.femaDeclarationString}}: &nbsp;&nbsp;&nbsp;&nbsp; #{{disaster.disasterNumber}}; &nbsp;&nbsp;&nbsp;&nbsp; ST: {{disaster.state}}; &nbsp;&nbsp;&nbsp;&nbsp; Type: {{disaster.declarationType}}; &nbsp;&nbsp;&nbsp;&nbsp; Date: {{disaster.declarationDate | date:'mediumDate'}};
        <br>
        <simple-card [disaster]=disaster [index]=i>app-dataset-card for {{i}}</simple-card>
      </li>
    </ul>

  </article>
<br>
<!--div class="text-center">
  paginate: itemsPerPage: 10, currentPage: page
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div -->
