h1 {
  //text-decoration:none;
  font-size  : large;
  font-weight: bold;
  margin-left: 2vw;
  font-family: "Baloo 2", "Open Sans", Helvetica, sans-serif;
}

article {
  margin-left   : 10px;
  font-size     : small;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
}

.text-center {
  text-align   : center;
  //margin-left: 2vw;
}
