<p>data-set-card works!</p>
<article class="dataset-card">
  <h3 class="dataset-heading"><span class="dataset-name"></span>{{disaster.femaDeclarationString}}: {{disaster.declarationTitle}} -- {{disaster.disasterNumber}}</h3>
  <p class="dataset-subhead">State:  {{disaster.state}}; Type: {{disaster.declarationType}}</p>
  <p class="dataset-description">
    <span class="dataset-name">{{disaster.incidentBeginDate}}</span> to {{disaster.incidentEndDate}}
  </p>
  <p class="dataset-details"><a href="/details/{{index}}">See all detail fields</a></p>
<article>
